.App {
    text-align: center;
    
  }

.Form {
    width: 100%;
    padding: 12px 20px;
    
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Input {
    width: 100%;
    color: blue;
    background-color:blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.Input + button:hover{
    color: yellow;
}